-e .
aiohttp==3.7.3
alabaster>=0.6.2
attrs==20.3.0
coverage==5.3
flake8==3.8.4
jinja2==2.11.2
multidict==5.0.2
mypy==0.790; implementation_name=="cpython"
pre-commit==2.9.0
pytest==6.1.2
pytest-aiohttp==0.3.0
pytest-cov==2.10.1
pytest-cov==2.10.1
pytest-sugar==0.9.4
sphinx==3.3.1
yarl==1.6.3
