-e .
aiohttp==3.7.4.post0
alabaster>=0.6.2
attrs==20.3.0
coverage==5.5
flake8==3.9.0
jinja2==2.11.3
multidict==5.1.0
mypy==0.812; implementation_name=="cpython"
pre-commit==2.12.0
pytest==6.2.3
pytest-aiohttp==0.3.0
pytest-cov==2.11.1
pytest-cov==2.11.1
pytest-sugar==0.9.4
sphinx==3.5.4
yarl==1.6.3
