attrs==19.3.0
flake8==3.7.9
coverage==5.0
sphinx==2.3.0
alabaster>=0.6.2
aiohttp==3.6.2
jinja2==2.10.3
pytest==5.3.2
pytest-cov==2.8.1
yarl==1.4.2
multidict==4.7.1
pytest-aiohttp==0.3.0
pytest-sugar==0.9.2
mypy==0.760
-e .
